// colors
$mideum-darkblue: rgba(52, 52, 192, 0.164);
$blue-color: rgba(18, 152, 197, 0.158);
$light-blue: lightblue;
$black-color: #000;
$white-color: #fff;
$light-black: rgba(161, 158, 158, 0.966);
//grid
$grid-width: 114rem;
$gutter-vertical: 9rem;
$gutter-horizontal: 7rem;
