// colors
$mideum-darkblue: rgba(17, 17, 107, 0.918);
$blue-color: rgba(18, 152, 197, 0.87);
$light-blue: rgb(131, 195, 216);
$black-color: #000;
$grey-color-light-1: #f7f7f7;
$white-color: #fff;
$light-black: rgba(206, 198, 198, 0.966);
$color-light-yellow: #ffb900;
$color-dark-yellow: #ff7730;
$color-green: #7ed56f;
$color-green-light: #55c57a;
$color-tertiary-light: #2998ff;
$color-dark-light: #5643fa;
$color-light-grey: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
.fa-solid {
  font-size: 2rem;
}
.fa-regular {
  font-size: 2rem;
}
