// colors
$mideum-darkblue: rgba(17, 17, 107, 0.918);
$blue-color: rgba(18, 152, 197, 0.87);
$light-blue: rgb(131, 195, 216);
$black-color: #000;
$grey-color-light-1: #f7f7f7;
$white-color: #fff;
$light-black: rgba(161, 158, 158, 0.966);
//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 9rem;
$gutter-horizontal: 7rem;
