.bg_video {
  position: absolute;
  left: 0;
  overflow: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  @include respond(phone) {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
