.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  &_side {
    background-color: rgb(255, 81, 0);
    height: 40rem;
    transition: all 0.8s;
    font-size: 2rem;
    color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    &-front {
      background-color: orange;
    }
    &-back {
      background-color: green;
      transform: rotateY(180deg);
    }
  }
  &:hover &_side-front {
    transform: rotateY(180deg);
  }
  &:hover &_side-back {
    transform: rotateY(0);
  }
}
