.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;

  &_side {
    background-color: white;
    height: 40rem;
    transition: all 0.8s ease;
    font-size: 5rem;
    color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5rem 4rem rgba($black-color, 0.15);

    &-front {
      background-color: white;
    }
    &-back {
      background-color: white;
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-yellow,
          $color-dark-yellow
        );
      }
    }
  }
  &:hover &_side-front {
    transform: rotateY(180deg);
  }
  &:hover &_side-back {
    transform: rotateY(0);
  }
  ///Front side styling
  &_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-light-yellow,
          $color-dark-yellow
        ),
        url(../img/features.jpeg);
    }
    &-2 {
      background-image: url(../img/features.jpeg);
    }
    &-3 {
      background-image: url(../img/features.jpeg);
    }
  }
}
