.card {
  perspective: 140rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;

  &_side {
    height: 45rem;
    transition: all 0.8s ease;
    color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5rem 4rem rgba($black-color, 0.15);

    &-front {
      background-color: white;
    }
    &-back {
      background-color: white;
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-light-yellow,
          $color-dark-yellow
        );
      }
      &-2 {
        background-image: linear-gradient(
            to right bottom,
            $color-tertiary-light,
            $color-dark-light
          ),
          url(../img/card2.jpeg);
      }
      &-3 {
        background-image: linear-gradient(
            to right bottom,
            $color-green,
            $color-green-light
          ),
          url(../img/card3.jpeg);
      }
    }
  }
  &:hover &_side-front {
    transform: rotateY(180deg);
  }
  &:hover &_side-back {
    transform: rotateY(0);
  }
  ///Front side styling
  &_picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-light-yellow,
          $color-dark-yellow
        ),
        url(../img/card1.jpeg);
    }
    &-2 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-dark-light
        ),
        url(../img/card2.jpeg);
    }
    &-3 {
      background-image: linear-gradient(
          to right bottom,
          $color-green,
          $color-green-light
        ),
        url(../img/card3.jpeg);
    }
  }
  &_heading {
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $white-color;
    position: absolute;
    top: 11rem;
    left: 7rem;
    text-align: right;
    width: 66%;
    @include respond(Tab-port) {
      left: 13rem;
      width: 77%;
    }
    @include respond(phone) {
      left: 5rem;
      width: 77%;
    }
  }
  &_heading_span {
    padding: 1rem 1.5rem;
    -webkit-box-direction-break: clone;
    box-decoration-break: clone;
    &__1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-light-yellow, 0.85),
        rgba($color-dark-yellow, 0.85)
      );
    }
    &__2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-dark-light, 0.85)
      );
    }
    &__3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-green, 0.85),
        rgba($color-green-light, 0.85)
      );
    }
  }
  &_details {
    padding: 3rem;
    ul {
      width: 80%;
      margin: auto;
      list-style: none;
      li {
        text-decoration: none;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: black;
        &:not(:last-child) {
          border-bottom: 1px solid $color-light-grey;
        }
      }
    }
  }
  &_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $white-color;
  }
  &_price-only {
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &_price-value {
    font-size: 5rem;
    font-weight: 300;
  }

  ///////////////////////////RESPOND TAB-PORT ////////////////////////
  // @include respond(Tab-port) {
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: $white-color;
    color: black;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
    &_side {
      height: auto;
      position: relative;
      box-shadow: none;

      &-back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        // -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 100% 0);
      }
    }
    &:hover &_side-front {
      transform: rotateY(0deg);
    }
    &_details {
      padding: 1rem 3rem;
    }
    &_cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &_price-box {
      margin-bottom: 3rem;
      margin-left: 4rem;
    }

    &_price-value {
      font-size: 4rem;
    }
  }
}
