.composition {
  position: relative;
  @include respond(Tap-port) {
    margin-top: -5rem;
  }
  @include respond(phone) {
    margin-top: 4rem;
    margin-left: -5rem;
  }
  &_photo {
    width: 55%;
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.4);
    outline-offset: 2rem;
    &_p1 {
      left: 4rem;
      top: -4rem;
    }
    &_p2 {
      left: 18rem;
      top: 2rem;
    }
    &_p3 {
      left: 6rem;
      top: 6rem;
    }
    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($blue-color, 0.5);
      z-index: 20;
      outline: 0.6rem solid $blue-color;
    }
  }
  &:hover &_photo:not(:hover) {
    transform: scale(0.9);
  }
}
