.popup {
  background-color: rgba($black-color, 0.8);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @supports (-webkit-backdrop-filter: blur(10px)) or (back-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($black-color, 0.3);
    @include respond(Tab-port) {
      height: 100%;
      width: 100%;
    }
    @include respond(phone) {
      height: 100%;
      width: 100%;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &_content {
    width: 90vw;
    background-color: $white-color;
    // height: 90vh;
    box-shadow: 0 2rem 4rem rgba($black-color, 0.2);
    display: table;
    overflow: hidden;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.25);
    //First allow grey background to come in adn then allow content to come in.
    transition: all 0.4s 0.2s;
    @include absCenter;

    @include respond(Tab-land) {
      width: 95%;
    }
    @include respond(Tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &_left {
    width: 33.333333%;
    display: table-cell;
    @include respond(phone) {
      display: block;
      width: 100%;
    }
  }
  &_right {
    display: table-cell;
    vertical-align: middle;
    width: 66.6666667%;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      padding: 1rem 1rem;
    }
    @include respond(phone) {
      display: block;
      width: 100%;
    }
  }
  &_img {
    display: block;
    width: 100%;
    @include respond(phone) {
      display: inline-block;
      width: 49.7%;
    }
  }
  &_text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid rgb(194, 193, 193);
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid rgb(194, 193, 193);
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    @include respond(tab-port) {
      -moz-column-count: 1;
      -moz-column-gap: 1rem;
      -moz-column-rule: none;

      column-count: 1;
      column-gap: 1rem;
      column-rule: none;

      margin-bottom: 2rem;
    }
  }
  &_close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }
    &:hover {
      color: red;
    }
  }
}
