.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba($black-color, 0.1);
  background-color: rgba($white-color, 0.6);
  border-radius: 3px;
  margin: 0 auto;
  font-size: $default-font-size;
  padding: 3rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  &_shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: goldenrod;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }
  &_persion-1 {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &-text {
    transform: skewX(12deg);
  }
  &_caption {
    font-size: 1.3rem;
    color: $white-color;
    font-weight: 600;
    left: 50%;
    top: 50%;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
  }
  &:hover &_caption {
    opacity: 1;
    transform: translateX(-50%, 50%);
  }
  &:hover &_persion-1 {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
