.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba($black-color, 0.1);
  background-color: rgba($white-color, 0.6);
  border-radius: 3px;
  margin: 0 auto;
  font-size: $default-font-size;
  padding: 3rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  @include respond(Tab-port) {
    font-size: 1.2rem;
    height: 75%;
    padding: 3rem;
    padding-left: 6rem;
    transform: skewX(0);
  }
  @include respond(phone) {
    font-size: 0.9rem;
    height: 45%;
    text-align: center;
    margin-left: 3rem;
  }
  &_shape {
    width: 15rem;
    height: 15rem;
    margin-left: -8rem;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translateX(-3deg) skewX(12deg);
    border-radius: 50%;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      margin-left: -2rem;
      // For the following polygon to work, the element must have set width and height + a float
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      //For the element to actually look like a circle:
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(Tab-port) {
      width: 10rem;
      height: 10rem;
      margin-left: -3rem;
    }
    @include respond(phone) {
      width: 5rem;
      height: 5rem;
      display: inline-block;
      margin-left: -3rem;
    }
  }
  &_persion-1 {
    height: 100%;
    width: 100%;
    margin-left: 4rem;
    background-size: cover;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
    @include respond(Tab-port) {
      height: 100%;
    }
    @include respond(Tab-land) {
      margin-left: 4rem;
    }
    @include respond(phone) {
      height: 100%;
      margin-left: 4rem;
    }
  }
  &-text {
    transform: skewX(12deg);
    align-items: center;
    @include respond(phone) {
      margin-left: 2rem;
      transform: skewX(0deg);
    }
    @include respond(Tab-port) {
      margin-left: 2rem;
      transform: skewX(0deg);
    }
  }
  &_caption {
    font-size: 1.3rem;
    color: $white-color;
    font-weight: 600;
    left: 50%;
    top: 45%;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    @include respond(phone) {
      font-size: 0.4rem;
      margin-bottom: 2rem;
      left: 50%;
      top: 25%;
    }

    @include respond(Tab-land) {
      font-size: 1.5rem;
    }
  }
  &:hover &_caption {
    opacity: 1;
    transform: translateX(-50%, 50%);
  }
  &:hover &_persion-1 {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
