body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $black-color;
}
.heading_main {
  color: $white-color;
  backface-visibility: hidden;
  text-transform: uppercase;
  margin-bottom: 5rem;
  &_first {
    display: block;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 2rem;
    animation: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(phone) {
      letter-spacing: 0.2rem;
      font-size: 2.3rem;
      margin-left: 3rem;
    }
  }
  &_second {
    display: flex;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: 500;
    width: 60rem;
    align-items: center;
    animation: moveInRight 1s ease-out;
    @include respond(Tab-port) {
      font-size: 1rem;
      width: 48rem;
      margin-left: 7rem;

      letter-spacing: 0.9rem;
    }
    @include respond(phone) {
      font-size: 0.8rem;
      text-align: center;
      margin-right: -31rem;
      margin-top: 1rem;
      letter-spacing: 0.1rem;
    }
  }
}
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, $mideum-darkblue, $blue-color);
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  @include respond(Tab-port) {
    font-size: 3rem;
  }
  @include respond(Tab-port) {
    font-size: 1.7rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black-color, 1.2);
  }
}
.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.1rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}
