.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-top-big {
  display: inline-block;
  margin-top: 5rem;
  margin-left: 40%;
}
.u-margin-top-huge {
  margin-top: 10rem;
}
