.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important;
  margin-top: 2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-top-big {
  display: inline-block !important;
  margin-top: 5rem !important;
  margin-left: 43% !important;
  @include respond(phone) {
    margin-left: 16% !important;
  }
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
.u-margin-bottom-last {
  margin-top: 3rem !important;
  margin-bottom: 2rem;
}
