.footer {
  background-color: rgb(43, 42, 42);
  padding: 4rem 0 20rem 0;
  font-size: 1.4rem;
  text-align: center;
  @include respond(Tab-port) {
    padding: 6rem 0 20rem;
    font-size: 1rem;
  }
  @include respond(phone) {
    padding: 2rem 0 26rem;
    font-size: 1rem;
  }
  &_logo-box {
    align-items: center;
    // @include respond(Tab-port) {
    //   margin-bottom: 6rem;
    // }
  }
  &_logo {
    width: 15rem;
    height: auto;
    background-size: cover;
    @include respond(phone) {
      width: 10rem;
      margin-top: -4rem;
    }
    @include respond(Tab-port) {
      width: 12rem;
      margin-top: 2rem;
    }
  }

  &_navigation {
    border-top: 1px solid whitesmoke;
    padding-top: 2rem;
    display: inline-block;
    margin-bottom: 5rem;
    @include respond(phone) {
      margin-right: 2rem;
    }
    @include respond(Tab-land) {
      margin-right: 2rem;
    }
  }
  &_list {
    list-style: none;
  }
  &_item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &_link {
    &:link,
    &:visited {
      color: $grey-color-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
    &:hover,
    &:active {
      color: $color-tertiary-light;
      box-shadow: 0 1rem 2rem rgba($black-color, 0.4);

      transform: rotate(5deg) scale(1.3);
    }
  }
  &_copyright {
    border-top: 1px solid whitesmoke;
    padding-top: 2rem;
    width: 80%;
    margin-bottom: 5rem;
    @include respond(Tab-port) {
      padding-top: 1rem;
      margin-left: 4rem;
      margin-top: -7rem;
    }
    @include respond(phone) {
      font-size: 0.9rem;
      padding-top: 1rem;
      margin-left: 4rem;
      margin-top: -5rem;
    }
  }
}
