.header {
  height: 95vh;
  background-image: linear-gradient(
      to top left,
      rgba($mideum-darkblue, 0.699),
      rgba($blue-color, 0.705)
    ),
    url(../img/header2.avif);
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  @include respond(phone) {
    height: 65vh;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  }
  @include respond(Tap-port) {
    background-size: cover;
    height: 80vh;
    width: 100vw;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);

    text-align: center;
  }
  &_logo {
    position: absolute;
    top: 5rem;
    left: 8rem;
    @include respond(Tab-port) {
      top: 2rem;
      left: 2rem;
    }
  }
  &_logo_img {
    background-size: cover;
    width: 12rem;
    mix-blend-mode: multiply;
  }

  &_text-box {
    position: absolute;
    text-align: center;
    left: 52%;
    top: 49%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
      top: 33%;
    }
  }
  @include respond(phone) {
    margin-top: 0rem;
  }
}
