.header {
  height: 80vh;
  background-size: cover;
  object-fit: cover;
  background-image: linear-gradient(
      to top left,
      rgba($mideum-darkblue, 0.699),
      rgba($blue-color, 0.705)
    ),
    url(../img/header2.avif);
  background-position: top;
  background-size: cover;

  @supports (
    clip-path: polygon(0 0) or
      (
        -webkit-clip-path: polygon(0 0),
      )
  ) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  }
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (mix-width: 75em) {
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header2.avif);
  }

  @include respond(phone) {
    height: 65vh;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header2.avif);
    width: 90%;
    margin-left: 2.5rem;
  }
  @include respond(Tap-port) {
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header2.avif);
    width: 70%;
    margin-left: 2.5rem;
  }
  &_logo {
    position: absolute;
    top: 5rem;
    left: 8rem;
    @include respond(Tab-port) {
      top: 2rem;
      left: 2rem;
    }
  }
  &_logo_img {
    background-size: cover;
    width: 12rem;
    mix-blend-mode: multiply;
    @include respond(phone) {
      width: 8rem;
    }
  }

  &_text-box {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    @include respond(Tab-port) {
      left: 50%;
      top: 50%;
    }
    @include respond(phone) {
      top: 33%;
      left: 46%;
    }
  }
  // @include respond(phone) {
  //   margin-top: 0rem;
  // }
}
