.navigation {
  &_checkbox1 {
    display: none;
  }
  &_button {
    background-color: $white-color;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($black-color, 0.1);
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &_background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgb(102, 102, 182), rgb(53, 92, 211));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    // transform: scale(100);
  }
  &_nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.266, 1.55);
  }
  &_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &_item {
    margin: 1rem;
  }
  &_link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      color: $white-color;
      text-transform: uppercase;
      text-decoration: none;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $white-color 50%
      );
      padding: 1rem 2rem;
      background-size: 230%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: rgb(39, 39, 211);
      transform: translateX(1rem);
    }
  }

  //   //////////functionality
  &_checkbox1:checked ~ &_background {
    transform: scale(80);
  }
  &_checkbox1:checked ~ &_nav {
    opacity: 1;
    width: 100%;
  }

  //////////////
  //   /// navigation icon
  &_icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: rgb(68, 67, 67);
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &_button:hover &_icon::before {
    top: -1rem;
  }
  &_button:hover &_icon::after {
    top: 1rem;
  }
  //   &_checkbox1:checked + &_button &_icon {
  //     background-color: transparent;
  //   }
  //   &_checkbox1:checked + &_button &_icon::before {
  //     top: 0;
  //     transform: rotate(135deg);
  //   }
  //   &_checkbox1:checked + &_button &_icon ::after {
  //     top: 0;
  //     transform: rotate(-135deg);
  //   }
}
