/* color {
  mideum: darkblue;
  blue: rgba(39, 39, 206, 0.932);
  light: lightblue;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  color: rgba(43, 41, 41, 0.664);
  padding: 20px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to top left,
      rgba(52, 52, 192, 0.699),
      rgba(18, 152, 197, 0.705)
    ),
    url(./img/header2.avif);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}
.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
}
.yoga {
  font-family: "cursive";
  font-weight: 700;
  font-size: 2rem;
}
.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-main {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading-main {
  display: block;
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 0.77em;
  animation: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-main-sub {
  display: block;
  font-size: 2em;
  letter-spacing: 0.46em;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
