.section-about {
  background-color: $grey-color-light-1;
  padding: 20rem 0;
  margin-top: -20rem;
  @include respond(Tab-port) {
    padding: 8rem 0;
    margin-left: 5rem;
    margin-top: -5rem;
  }
  @include respond(phone) {
    padding: 5rem 0;
    margin-left: 3rem;
    margin-top: -2rem;
  }
}

.section-features {
  background-size: cover;
  width: 100%;
  object-fit: cover;
  display: inline-block;
  background-color: $grey-color-light-1;
  padding: 21rem 0;
  margin-top: 20rem;
  left: 0;
  background-image: linear-gradient(
      to top left,
      rgba($mideum-darkblue, 0.699),
      rgba($blue-color, 0.705)
    ),
    url(../img/header1.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 75em) {
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header1.jpg);
  }
  @include respond(Tab-port) {
    padding: 10rem 0;
    margin-top: 30rem;
    width: 90%;
    margin-left: 2.5rem;
    background-size: cover;
    display: inline-block;
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header1.jpg);
  }
  @include respond(phone) {
    margin-left: 2.5rem;
    width: 90%;
    padding: 3rem;
    display: inline-block;
    background-image: linear-gradient(
        to top left,
        rgba($mideum-darkblue, 0.699),
        rgba($blue-color, 0.705)
      ),
      url(../img/header1.jpg);
  }
}

.section-tour {
  background-color: $grey-color-light-1;
  padding: 20rem 0 15rem 0;
}
.section-stories {
  position: relative;
  padding: 1rem 0 0;
}
.section-booking {
  padding: 15rem 4rem 10rem;
  background-image: linear-gradient(
    to left bottom,
    rgba($mideum-darkblue, 0.699),
    rgba($blue-color, 0.705)
  );
  @include respond(Tab-port) {
    padding: 10rem 0;
  }
  @include respond(phone) {
    padding: 2rem 9rem 5rem 3rem;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($white-color, 0.9) 0%,
      rgba($white-color, 0.9) 50%,
      transparent 50%
    ),
    url(../img/book.webp);
  width: 90%;
  border-radius: 3px;

  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
  @include respond(Tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($white-color, 0.9) 0%,
        rgba($white-color, 0.9) 70%,
        transparent 70%
      ),
      url(../img/book.webp);
    background-size: cover;
  }
  @include respond(phone) {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-image: linear-gradient(
        105deg,
        rgba($white-color, 0.9) 0%,
        rgba($white-color, 0.9) 62%,
        transparent 62%
      ),
      url(../img/book.webp);
  }
  @include respond(Tab-port) {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba($white-color, 0.9) 0%,
        rgba($white-color, 0.9) 100%
      ),
      url(../img/book.webp);
  }
  &_form {
    padding: 2rem;
    width: 60%;
    @include respond(Tab-land) {
      width: 65%;
    }
    @include respond(Tab-land) {
      width: 100%;
    }
    @include respond(phone) {
      padding: 1rem;
      font-size: 0.8rem;
      width: 100%;
    }
  }
}
